html {
    height: 100%;
    min-height: 100%;
}

/***************Cabeçalho******************/
body { 
    margin:0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;   
}
header {
    clear: both;
    width: 78%;
    position: relative;
    background-color:#EDEDDC;
    border-bottom:1px solid #666;
    padding: 1% 10% 0.5% 12%;
}
header ul {
    margin: 0px;
    padding: 0px;
}
header ul li {
    list-style-type: none;
    display: inline-block;
}
#home {
    font-size: 2.5em;
}
#home a{
    text-decoration: none;
    transition: color 1s;
}
#home a:hover{
    color: #ffc93b;
    transition: color 1s;
}

/***************Rodapé******************/
footer {
    margin-top: auto;
    clear: both;
    width:100%;
    height:40px;
    border-top:2px solid #ddd;
    background-color:#EDEDDC;
}

div#footer_central {
    width:800px;
    margin:0 auto;
}

div#footer_central p {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    margin-top: 1.8%;
}

/***************Botões(Inser/Alter/Delete)******************/


aside{
    position: fixed;
    margin-top: 18%;
}
aside ul {
    margin: 0px;
    padding: 0px;
    border: 1px solid #666;
    border-radius: 0px 9px 9px 0px;
    padding: 0px 3px 3px 3px;
    background-color:#EDEDDC;
}
aside ul li {
    background-color: white;
    list-style-type: none;
    border: 2px solid #ddd;
    border-radius: 9px;
    margin-top: 5px;
    padding: 3px 2px 2px 2px;
}
aside ul li {
    background-color: white;
    list-style-type: none;
    border: 2px solid #ddd;
    border-radius: 9px;
    margin-top: 5px;
    padding: 4px 3px 2px 3px;
}


/************** Main *************/

main {
    width:80%;
    min-height: 500px;
    padding:20px 0;
    margin:0 auto;

}

/************* Estilos da pesquisa *************/
main div#janela_pesquisa {
    width:80%;
    height: 70px;
    margin:0 auto;
}

main div#janela_pesquisa form {
    width:470px;
    margin:10px auto;
}

main div#janela_pesquisa form input[type="text"] {
    width:380px;
    padding:9px;
    border:1px solid #CDC99B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float:left;
    outline: none;
}

main div#janela_pesquisa form input[type="image"] {
    outline: none;
    cursor: pointer;
}
/* fim do estilo da pesquisa */

/******************** Estilos da Listagem de Livros */
main div#listagem_livros {
    width:80%;
    margin:0 auto;
}

main div#listagem_livros ul {
    margin:5px 10px 5px;
    padding:1%;
    width:100%;
    height: 80px;
    border-top: 1px solid #ddd;
}

main div#listagem_livros li {
    font-family: sans-serif;
    font-size: 12px;
    list-style: none;
    
}

main div#listagem_livros li h2 {
    margin:0;   
}
/**********************************************/